.row1_img1{
    display:block;
    width:15vw;
    height:30vh;
    background-size:cover;
    object-fit: cover;
    /* z-index: 0;
    position: relative;
    float: left; */
}

.onclick_box{
    background-color: blanchedalmond;
    display:block;
    width:15vw;
    height:30vh;
    background-size:cover;
    /* z-index: 0;
    position: relative;
    float: left; */
}

/* @media screen and (max-width: 699px)
{
.row1_img1 {
    display: none;
}
} */
/* 
@media screen and (max-width: 699px)
{
.row1_img1 {
    width: 50vw;
}
} */